.list-product{
    display: flex;
    list-style: none;
    justify-content: center;
}
.btn-add{
    text-align: center;
   
    
}
.btn{
    padding: 7px 25px;
    border-radius: 5px;
    border: none;
    background-color: rgb(150, 150, 238);
    color: white;
}
.title{
    text-align: center;
}